.own{
    text-shadow: 20px;
    background-color: transparent;
    background-image: linear-gradient(to right,rgb(255, 0, 140),rgba(0, 255, 234, 0.849));
    background-size:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    /* height: 50%; */
    width: 100%;
    

}
.blog{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 4px;
    
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,rgba(128, 128, 128, 0.466),rgba(255, 255, 255, 0.336));
}
.span{
    transform-origin: 10px;
}
.para{
    padding: 7px;
    
}
